html {
    background-color: #f4f4f4;
}

.gallery {
    width: 100%;
}

.pull-left {
    float: left;
}

.icon {
    margin-right: 15px;
}

.pull-right {
    float: right;
}

.box-image {
    background-color: #ffffff;
    padding: 6px;
    margin: 4px;
}

.card {
    width: 245px;
    margin-right: 21px;
    margin-bottom: 18px;
}

.box-image img {
    width: 235px;
    height: 185px;
}

.description {
    width: 100%;
    margin-top: 12px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 13px;
    margin-right: 13px;
}

.blue {
    color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

h6 {
    font-size: 11px;
    margin: 0;
    margin-top: 5px;
}

.buttons {
    width: 100%;
    margin-top: 30px;
}

a i {
    font-size: 25px;
    display: block;
    color: #676a6c;
}

button {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}